* {
    font-family: sans-serif;
}

body {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
}

body.home {
    background: url('../assets/home.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.menu {
    background: url('../assets/menu.jpg');
    background-size: cover;
    background-position: top bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.contact {
    background: url('../assets/contact.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    padding-inline: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    cursor: pointer;
}

main {
    max-height: 90vh;
}

footer {
    margin-top: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 450px) {
    header {
        flex-direction: row;
        gap: 3rem;
    }
}